{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}

<div class="container">

    {{> sidebar_default}}

    <div class="content leftside">
        <div class="notification">
            <div class="left"><i class="fa fa-tags"></i>TAG: <span>{{tag.name}}</span></div>
            <div class="right"><a href="{{@blog.url}}"><i class="fa fa-times"></i></a></div>
        </div>
        <div class="widget info_widget">
            {{#if @blog.logo}}
            <a href="{{@blog.url}}" class="logo"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
            {{/if}}
            <p>{{@blog.description}}</p>
        </div>
        <div class="inlinemenu">
            <div class="graybar">
                <div class="left"><i class="fa fa-bars"></i>Navigation</div>
                <div class="right"><i class="fa fa-chevron-down"></i></div>
            </div>
            {{> navigation}}
        </div>
        <div class="postlist">
            
            {{> loop}}

            {{pagination}}

        </div>
    </div>

</div>
