{{#foreach posts}}
                
    {{#has tag="feature"}}
    <article class="post feature">
        <a href="{{url}}" class="largeimage postfeature" {{#if image}} style="background-image: url({{image}})" {{/if}}>
            <div class="shadow"></div>
            <h1>{{{title}}}</h1>
        </a>
        <div class="info">
            <div class="left">
                <img src="{{author.image}}" alt="author" class="minigravatar">
                {{author}}
            </div>
            <div class="right">
                <a href="{{url}}" class="date"><i class="fa fa-clock-o"></i>{{date format="MMMM Do, YYYY"}}</a>
               <span class="tags"><i class="fa fa-tags"></i>
                    {{#foreach tags}}
                        <a href="{{url}}">{{name}}</a>
                    {{/foreach}}
                </span>
            </div>
        </div>
        <div class="postcontents index">
            {{content words="120"}}
        </div>
        <div class="footer">
            <a href="{{url}}" class="largesolid orange left">Read More</a>
        </div>
    </article>
    {{/has}}

    {{#has tag="banner"}}
    <article class="post banner">
        <a class="basicfeature postfeature" href="{{url}}" {{#if image}} style="background-image: url({{image}})" {{/if}}></a>
        <h1><a href="{{url}}">{{{title}}}</a></h1>
        <div class="info">
            <div class="left">
                <img src="{{author.image}}" alt="author" class="minigravatar">
                {{author}}
            </div>
            <div class="right">
                <a href="{{url}}" class="date"><i class="fa fa-clock-o"></i>{{date format="MMMM Do, YYYY"}}</a>
               <span class="tags"><i class="fa fa-tags"></i>
                    {{#foreach tags}}
                        <a href="{{url}}">{{name}}</a>
                    {{/foreach}}
                </span>
            </div>
        </div>
        <div class="postcontents index">
            {{content words="140"}}
        </div>
        <div class="footer">
            <a href="{{url}}" class="largesolid orange left">Read More</a>
        </div>
    </article>
    {{/has}}

    {{^has tag="feature, banner"}}
    <article class="post standard">
        <h1><a href="{{url}}">{{{title}}}</a></h1>
        <div class="info">
            <div class="left">
                <img src="{{author.image}}" alt="author" class="minigravatar">
                {{author}}
            </div>
            <div class="right">
                <a href="{{url}}" class="date"><i class="fa fa-clock-o"></i>{{date format="MMMM Do, YYYY"}}</a>
               <span class="tags"><i class="fa fa-tags"></i>
                    {{#foreach tags}}
                        <a href="{{url}}">{{name}}</a>
                    {{/foreach}}
                </span>
            </div>
        </div>
        <div class="postcontents index">
            <p>{{excerpt words="76"}}&hellip;</p>
        </div>
        <div class="footer">
            <a href="{{url}}" class="largesolid orange left">Read More</a>
        </div>
    </article>
    {{/has}}

{{/foreach}}